USE [master]
GO
/****** Object:  Database [QuanLyTourDuLich]    Script Date: 15/03/2026 8:40:25 PM ******/
CREATE DATABASE [QuanLyTourDuLich]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyTourDuLich', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyTourDuLich.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyTourDuLich_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyTourDuLich_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyTourDuLich].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyTourDuLich]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15/03/2026 8:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 15/03/2026 8:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[VaiTro] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHangs]    Script Date: 15/03/2026 8:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHangs](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[AccountId] [int] NULL,
 CONSTRAINT [PK_KhachHangs] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanViens]    Script Date: 15/03/2026 8:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanViens](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[AccountId] [int] NULL,
 CONSTRAINT [PK_NhanViens] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatTour]    Script Date: 15/03/2026 8:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatTour](
	[sophieudattour] [int] IDENTITY(1,1) NOT NULL,
	[makh] [int] NULL,
	[matour] [int] NULL,
	[loaitour] [nvarchar](50) NULL,
	[ngaykhoihanh] [date] NULL,
	[soluong] [int] NULL,
	[trangthai] [nvarchar](50) NULL,
	[ngaydattour] [datetime] NULL,
	[manv] [int] NULL,
	[NguoiXuLy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[sophieudattour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourDuLiches]    Script Date: 15/03/2026 8:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourDuLiches](
	[MaTour] [int] IDENTITY(1,1) NOT NULL,
	[TenTour] [nvarchar](max) NOT NULL,
	[GiaVe] [float] NOT NULL,
	[ThoiGianDi] [nvarchar](max) NOT NULL,
	[TinhTrang] [nvarchar](max) NOT NULL,
	[HinhAnh] [nvarchar](200) NULL,
	[ViTri] [nvarchar](50) NULL,
 CONSTRAINT [PK_TourDuLiches] PRIMARY KEY CLUSTERED 
(
	[MaTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VeDuLiches]    Script Date: 15/03/2026 8:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VeDuLiches](
	[SoVe] [int] IDENTITY(1,1) NOT NULL,
	[TenTour] [nvarchar](max) NOT NULL,
	[GiaVe] [float] NOT NULL,
	[NgayKhoiHanh] [datetime2](7) NOT NULL,
	[SoPhieuDatTour] [int] NOT NULL,
 CONSTRAINT [PK_VeDuLiches] PRIMARY KEY CLUSTERED 
(
	[SoVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260310134018_InitDatabase', N'10.0.3')
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([Id], [Username], [Password], [Phone], [VaiTro]) VALUES (23, N'admin', N'123', N'0900000000', N'Admin')
INSERT [dbo].[Accounts] ([Id], [Username], [Password], [Phone], [VaiTro]) VALUES (44, N'Loc', N'123456', NULL, N'KhachHang')
INSERT [dbo].[Accounts] ([Id], [Username], [Password], [Phone], [VaiTro]) VALUES (45, N'Bao', N'123456', NULL, N'KhachHang')
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHangs] ON 

INSERT [dbo].[KhachHangs] ([MaKH], [TenKH], [NgaySinh], [SoDienThoai], [Email], [DiaChi], [AccountId]) VALUES (48, N'', NULL, N'', N'', NULL, 44)
INSERT [dbo].[KhachHangs] ([MaKH], [TenKH], [NgaySinh], [SoDienThoai], [Email], [DiaChi], [AccountId]) VALUES (49, N'', NULL, N'', N'', NULL, 45)
INSERT [dbo].[KhachHangs] ([MaKH], [TenKH], [NgaySinh], [SoDienThoai], [Email], [DiaChi], [AccountId]) VALUES (50, N'', NULL, N'', N'', NULL, 49)
SET IDENTITY_INSERT [dbo].[KhachHangs] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanViens] ON 

INSERT [dbo].[NhanViens] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [ChucVu], [AccountId]) VALUES (12, N'', NULL, NULL, N'', NULL, NULL, N'', 47)
INSERT [dbo].[NhanViens] ([MaNV], [TenNV], [NgaySinh], [GioiTinh], [SoDienThoai], [Email], [DiaChi], [ChucVu], [AccountId]) VALUES (13, N'', NULL, NULL, N'', NULL, NULL, N'', 48)
SET IDENTITY_INSERT [dbo].[NhanViens] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuDatTour] ON 

INSERT [dbo].[PhieuDatTour] ([sophieudattour], [makh], [matour], [loaitour], [ngaykhoihanh], [soluong], [trangthai], [ngaydattour], [manv], [NguoiXuLy]) VALUES (40, 50, 2, N'DaDat', CAST(N'2026-03-18' AS Date), 1, N'Đã xác nhận', CAST(N'2026-03-15T17:30:16.407' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[PhieuDatTour] OFF
GO
SET IDENTITY_INSERT [dbo].[TourDuLiches] ON 

INSERT [dbo].[TourDuLiches] ([MaTour], [TenTour], [GiaVe], [ThoiGianDi], [TinhTrang], [HinhAnh], [ViTri]) VALUES (1, N'Tour Nhật Bản Tokyo', 19000000, N'5 ngày 4 đêm', N'Còn chỗ', N'tokyo.jpg', N'NhatHan')
INSERT [dbo].[TourDuLiches] ([MaTour], [TenTour], [GiaVe], [ThoiGianDi], [TinhTrang], [HinhAnh], [ViTri]) VALUES (2, N'Tour Nhật Bản Osaka', 18500000, N'5 ngày 4 đêm', N'Còn chỗ', N'osaka.jpg', N'UuDai')
INSERT [dbo].[TourDuLiches] ([MaTour], [TenTour], [GiaVe], [ThoiGianDi], [TinhTrang], [HinhAnh], [ViTri]) VALUES (3, N'Tour Nhật Bản Kyoto', 17500000, N'5 ngày 4 đêm', N'Còn chỗ', N'kyoto.jpg', N'NhatHan')
SET IDENTITY_INSERT [dbo].[TourDuLiches] OFF
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (N'KhachHang') FOR [VaiTro]
GO
ALTER TABLE [dbo].[PhieuDatTour] ADD  DEFAULT ((1)) FOR [soluong]
GO
ALTER TABLE [dbo].[PhieuDatTour] ADD  DEFAULT (N'Chờ xác nhận') FOR [trangthai]
GO
ALTER TABLE [dbo].[PhieuDatTour] ADD  DEFAULT (getdate()) FOR [ngaydattour]
GO
ALTER TABLE [dbo].[KhachHangs]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhachHangs] CHECK CONSTRAINT [FK_KhachHang_Account]
GO
ALTER TABLE [dbo].[NhanViens]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanViens] CHECK CONSTRAINT [FK_NhanVien_Account]
GO
ALTER TABLE [dbo].[PhieuDatTour]  WITH CHECK ADD  CONSTRAINT [FK_Phieu_Khach] FOREIGN KEY([makh])
REFERENCES [dbo].[KhachHangs] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhieuDatTour] CHECK CONSTRAINT [FK_Phieu_Khach]
GO
ALTER TABLE [dbo].[VeDuLiches]  WITH CHECK ADD  CONSTRAINT [FK_Ve_Phieu] FOREIGN KEY([SoPhieuDatTour])
REFERENCES [dbo].[PhieuDatTour] ([sophieudattour])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VeDuLiches] CHECK CONSTRAINT [FK_Ve_Phieu]
GO
USE [master]
GO
